# Byte-compiled / optimized / DLL files
__pycache__/
_cudacache/

# Jupyter Notebook
.ipynb_checkpoints/

*.pkl
*.avi
*.mp4


# Secret Files (for now)
src/live_GAN_utils.py
src/beat_modulation_multi.py
src/modulation_utils.py

src/renders
src/tmp_unzip
